
.menu{
    width: 14%;
    margin-top:-2px;
    margin-left: 10px;
    position:fixed;
    width:200px;
}
.tweetWrapper{
    width:48%;
    margin-left: 18%;
    margin-top:6%;
}
.inputWrapper{
    width: 80%;
    height:115px;
    margin-left: 10%;
    text-align: center;
    margin-bottom: -25px;
}
.tweetDetail{
    text-align: center;
    padding-bottom: 20px;
    margin-top:2%;
    margin-bottom: -30px;
}
.follow{
    float:right;
    margin-right:25px;
    width:30%;
}
.circular-prog{
    padding-top:10%;
}