.tweetWrapper{
    width:50%;
    margin-left: 15%;
}
.inputWrapper{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    background-color: rgb(30, 211, 235);
}
.tweetDetail{
    text-align: center;
    padding-bottom: 20px;
}
.menu{
    width: 15%;
    position: absolute;
}