
.menu{
    width: 14%;
    margin-top:-2px;
    margin-left: 10px;
    position:fixed;
    width:200px;
}
.tweetWrapper{
    width:48%;
    margin-left: 18%;
    margin-top:6%;
}
.tweetListWrapper{
    width:48%;
    margin-left: 18%;
    margin-top:2%;
}
.inputWrapper{
    width: 100%;
    padding: 30px;
    height:auto;
    display: inline-flex;
}
.tweetDetail{
    text-align: center;
    padding-bottom: 20px;
    margin-top:2%;
}
.follow{
    float:right;
    margin-right:25px;
    width:30%;
}
.circular-prog{
    padding-top:10%;
}