
.menu{
    width: 14%;
    position: absolute;
    margin-top:12px;
    margin-left: 25px;
}
.tweetWrapper{
    width:48%;
    margin-left: 18%;
    margin-top:20px;
}
.inputWrapper{
    width: 80%;
    height:115px;
    margin-left: 10%;
    text-align: center;
    margin-bottom: 20px;
}
.tweetDetail{
    text-align: center;
    padding-bottom: 20px;
}
.follow{
    float:right;
    margin-right:25px;
    width:30%;
}